Localization
{
    ru
    {
        #LOC_BS_SystemALC_AlkeronaA_Name = Alkerona-A
        #LOC_BS_SystemALC_AlkeronaA_Desc = One of the brightest star of the cluster
        #LOC_BS_SystemALC_AlkeronaB_Name = Alkerona-B
        #LOC_BS_SystemALC_AlkeronaB_Name = Companion of A-star
        #LOC_BS_SystemALC_Kurumi_Name = Kurumi
        #LOC_BS_SystemALC_Kurumi_Name = Gigant
    }
}