Localization
{
    ru
    {
        #LOC_BS_SystemALC_AlkeronaA_Name = Алькерона А
        #LOC_BS_SystemALC_AlkeronaA_Desc = Ярчайшая звезда в скоплении.
        #LOC_BS_SystemALC_AlkeronaB_Name = АлькеронаБ
        #LOC_BS_SystemALC_AlkeronaB_Name = Звезда-компаньйон Алькероны А
        #LOC_BS_SystemALC_Kurumi_Name = Куруми
        #LOC_BS_SystemALC_Kurumi_Name = Гигант
    }
}